*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    max-width: 50%;
    margin-left:25%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 2px 2px 15px rgba(7, 32, 77, 0.753);
}

.note_content{
    background-color: azure;
    color: black;
  

}
nav{
    background-color:#023047;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: cornsilk;
}

nav ul li{
    
list-style: none;
display: inline;
margin-left: 6%;


}

nav ul li a{
    text-decoration: none;
    margin-top: 1rem;
    color: cornsilk;
}

nav input{
    margin-left: 35%;
    border-radius: 1rem;
    margin-top: 1rem;
    border-style: none;
    margin-bottom: 1rem;
    height: 1.5rem;
}
nav ul{
    padding-top:1rem;
    text-align: center;
    
}
ul li a{
    text-decoration: none !important;
}

<style>
   a{
        text-decoration: none;
        list-style: none;
    }
    ul{
        list-style: none;
    }
    small{
        color: rgb(172, 172, 172);
    }

    .notes{
        
     color:#457b9d;
        border-radius: 1rem;
        text-align: center;
    }
    .container{
        background-color: #8ecae6 !important;
        height: auto !important;
    }
    nav{
       /* background-color: #023047 !important;*/
    }

    .container:hover{
        transform: scale(1.03);
        transition: all 1s ease;
    }
    .notes:hover{
        background-color: #457b9d !important;
        color: white !important;
        cursor: pointer;
        transform: scale(1.03);
        transition: all 1s ease;
    }
    .btn{
        background-color:#023047;
        border-radius: 0.4rem;
        color: white;
        width: 5rem;
        height: 2rem;
        margin-left: 30%;
        margin-top: 1rem;

    }
    .btn1{
        background-color:#023047;
        border-radius: 0.4rem;
        color: white;
        width: 5rem;
        height: 2rem;
        margin-top: 1rem;

    }
    form{
        margin-left: 20%;
        padding: 3rem;
    }
    form input{
        margin: 0.5rem;
        border-radius: 1rem;
    }
    .detail{
        text-align: center;
        margin-top: 2rem;

    }
    .form-title{
        margin-left: 3rem;
    }
    .form-textarea{
        margin-left: 3rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 15px rgb(87, 180, 241);

    }


</style>