
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} 
              
           {% endblock %}

    </title>
  
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    
</head>
<style>
    .notes:hover{
        background-color: #457b9d !important;
    }
    nav ul li a:hover{
    background-color: white;
    color: teal;
    border-radius: .5rem;
    
    border 1px solid white;

}
</style>
<body>
    <div class="container">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Note</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'add' %}">Add Note</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li>Welcome , {{ user.first_name }}</li>
            <li id="time"></li>
            

            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>

            {% endif%}
            
            
            
            
            
            
        </ul>
        <input type="text" placeholder="🔎search">
    </nav>

    
    {% block content %}

    
   

    {% endblock %}

    
    </div>
    

   
    <script src="static/script.js"></script>
</body>
</html>