


{% extends 'base.html' %}

{% block title %}
    📝NotePad 
 {% endblock %}


{% block content %}


<ul>
    
{% for note in object_list %}
<div class="notes">
<hr><br>

<li> <a href="{% url 'detail' note.pk %}" style="font-weight: bolder; font-size: 2rem;">{{ note.title }}</a>
     
     <span style="padding-left: 2px;">
          {% if user.is_authenticated %}

             <a href="{% url 'delete'  note.pk %}">Delete</a> | <a href="{% url 'update'  note.pk %}">Edit</a> 

          {% endif %}
     </span>
</li>
<li>{{ note.Description }}</li>
<li>{{ note.body|slice:":200" }}</li>
<smal style="color: rgb(155, 150, 143); margin-left: 70%;"> {{ note.date_created }}</small> 
<br>
</div>
{% endfor %}
</ul>

{% endblock %}